<section class="faq-page">

  <!-- Header + Description -->
  <div class="faq-header">
    <h2 class="gradient-title">
      {{ 'FAQ.TITLE' | t }}
    </h2>
  
    <p class="faq-description">
      {{ 'FAQ.DESCRIPTION' | t }}
    </p>
  </div>
  

  <!-- Image -->
  <div class="faq-image">
    <img src="../../../assets/images/bibi2.webp" alt="FAQ Image" />
  </div>

  <!-- FAQ List -->
  <div class="faq-list">

    @for (faq of faqData(); track faq.id; let i = $index) {
  
      <div class="faq-item" [class.active]="activeIndex === i">
  
        <button class="faq-question" (click)="toggleFaq(i)">
          {{ faq.fAQsTranslationDTos[0]?.question }}
          <span class="arrow">
            {{ activeIndex === i ? '-' : '+' }}
          </span>
        </button>
  
        @if (activeIndex === i) {
          <div class="faq-answer">
            <p>{{ faq.fAQsTranslationDTos[0]?.answer }}</p>
          </div>
        }
  
      </div>
  
    }
  
  </div>
  
  

</section>
