<section class="auth-wrapper">
  <div class="auth-card">

    <!-- Left Side (Branding) - Full Width Image with Logo -->
    <div class="auth-left">
      <div class="branding-content">
        <img src="../../../assets/images/bbesocaiallogo.png" alt="Logo" class="logo">
        <h2>Welcome Back <i class="fa-brands fa-angellist"></i></h2>
      </div>
    </div>

    <!-- Right Side (Form) -->
    <div class="auth-right">

      <h3 class="form-title">Log in to your account</h3>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Email -->
        <div class="input-group-modern">
          <label>Email</label>
          <input
            type="email"
            formControlName="email"
            placeholder="example@email.com"
            [ngClass]="{
              'invalid': loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
            }"
          >
          @if(loginForm.get('email')?.invalid && (loginForm.get('email')?.touched||loginForm.get('email')?.dirty)){
            <small class="error-text">Valid email is required</small>
          }
        </div>

        <!-- Password -->
        <div class="input-group-modern">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            placeholder="••••••"
            [ngClass]="{
              'invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
            }"
          >
          @if(loginForm.get('password')?.invalid && (loginForm.get('password')?.touched ||loginForm.get('password')?.dirty)){
            <small class="error-text">
              Password must contain upper, lower case & number
            </small>
          }
        </div>

        <!-- Submit -->
        <button type="submit" class="btn-modern">
          Log In
        </button>

        @if(IsSccuess==true){
          <div class="success-box">
            Login successful!
          </div>
        }

      </form>

    </div>
  </div>
</section>