<footer class="bbe-footer">
  <div class="footer-glow"></div>

  <div class="footer-content">

    <!-- Logo & Brand -->
    <div class="brand">
      <div class="logo-spin">
        <img src="assets/images/bbesocaiallogo.png" alt="BbeSocial Logo">
      </div>

      <h2 class="brand-name">
        <span>Bbe</span>Social
        <small>Customer Service</small>
      </h2>
    </div>

    <!-- Quick Links -->
    <nav class="quick-links">
      <a href="#">{{ 'NAV.HOME' | t }}</a>
      <a href="#">{{ 'NAV.ABOUT' | t }}</a>
      <a href="#">{{ 'NAV.SERVICE' | t }}</a>
      <a href="#">{{ 'NAV.PRICING' | t }}</a>
      <a href="#">{{ 'NAV.CAREER' | t }}</a>
      <a href="#">{{ 'NAV.FAQS' | t }}</a>
      <a href="#">{{ 'NAV.CONTACT' | t }}</a>
    </nav>
    

    <!-- Social Links -->
    <div class="social-box">
      <a href="https://www.facebook.com/share/1AWpmnXHgB/?mibextid=wwXIfr" class="social"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/bbe.social?igsh=OTF2dmN5c3NneXNr" class="social"><i class="bi bi-instagram"></i></a>
      <a href="#" class="social"><i class="fab fa-tiktok"></i></a>
    </div>

    <p class="copyright">
      © 2026 <strong>BbeSocial</strong> — All Rights Reserved <strong>Powered BY <a class="next"  href="https://www.facebook.com/nextstepsolutions1"> Next Step Solutions</a></strong>
    </p>

  </div>
</footer>
